.bcll-wrap {
  position: relative;
  width: 700px;
  height: 394px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.bcll-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.bcll-logo-wrap {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px #ababb8 solid;
  top: 26px;
  left: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bcll-logo {
  width: 108px;
  height: 108px;
}
.bcll-divider {
  position: absolute;
  left: 26px;
  top: 177.5px;
  width: 648px;
  height: 2px;
  background-color: #eaeaee;
}
.bcll-ss {
  position: absolute;
  left: 170px;
  top: 106px;
  width: 336px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.bcll-sm {
  position: absolute;
  left: 170px;
  top: 54px;
  width: 516px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.bcll-sxl {
  position: absolute;
  left: 28px;
  top: 210px;
  width: 626px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.bcll-sl {
  position: absolute;
  left: 28px;
  bottom: 104px;
  width: 572px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.bcll-sls {
  position: absolute;
  left: 28px;
  bottom: 52px;
  width: 572px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
