@import '../../static/css/mixin';

.bcxs-wrap {
  position: relative;
  width: 700px;
  height: 170px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}

//.bcxs-wrap:active {
//  transform: scale(1.05);
//  transition: 500ms;
//}

.bcxs-logo-wrap {
  @include abs(24px, 26px);
  @include wh(122px, 122px);
  @include fcc;
  border-radius: 50%;
  border: 2px #ababb8 solid;
}

.bcxs-logo {
  @include wh(106px, 106px);
  border-radius: 50%;
  border: 2px #eaeaee solid;
}

.bcxs-title {
  @include abs(24px, 178px);
  @include wh(486px, 60px);
  @include ddd;
  line-height: 60px;
  font-weight: 500;
  font-size: 32px;
  color: #5c516b;
}

.bcxs-divider {
  @include abs(96px, 168px);
  @include wh(506px, 2px);
  background-color: #eaeaee;
}

.bcxs-tag {
  @include abs(116px, 178px);
  @include wh(38px, 38px);
  background: url('../../static/images/tag-p.svg') no-repeat;
}

.bcxs-category {
  @include abs(116px, 236px);
  @include wh(336px, 34px);
  @include ddd;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.96px;
  color: #ababb8;
}
