@import '../../static/css/mixin';
.bcl-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  min-height: 222px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.bcl-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.bcl-above {
  position: relative;
  width: 100%;
  height: 84px;
  border-radius: 18px 18px 0 0;
  &-logo-wrap {
    @include abs(22px, 28px);
    @include wh(62px, 62px);
    @include fcc;
    border-radius: 50%;
    border: 2px #ababb8 solid;
  }
  &-logo {
    @include wh(54px, 54px);
    border-radius: 50%;
  }
  &-title {
    @include abs(32px, 132px);
    @include wh(542px, 42px);
    @include ddd;
    font-weight: 500;
    font-size: 30px;
    color: #5c516b;
  }
}
.bcl-divider {
  @include wh(648px, 2px);
  background-color: #eaeaee;
  margin: 16px auto 12px;
}
.bcl-dgc {
  display: flex;
  align-items: center;
  @include wh(650px, 38px);
  margin: 0 auto 12px;
  &-icon {
    @include wh(34px, 24px);
    margin-right: 12px;
    margin-bottom: 2px;
    background: url('../../static/images/gift.svg') no-repeat;
  }
  &-content {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 38px;
  }
  &-cv {
    @include wh(150px, 26px);
    margin-right: 10px;
  }
  &-ecv {
    @include wh(154px, 26px);
    margin-right: 10px;
  }
  &-cc {
    @include wh(126px, 26px);
    margin-right: 10px;
  }
  &-sx {
    @include wh(136px, 26px);
    margin-right: 10px;
  }
}
.bcl-payment {
  display: flex;
  align-items: center;
  @include wh(650px, 38px);
  margin: 0 auto 12px;
  &-icon {
    @include wh(24px, 30px);
    margin-right: 24px;
    background: url('../../static/images/payment.svg') no-repeat;
  }
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include wh(596px, 40px);
  }
  &-wechatpay {
    @include wh(110px, 28px);
    margin-right: 16px;
  }
  &-alipay {
    @include wh(92px, 28px);
    margin-right: 16px;
  }
  &-grabpay {
    @include wh(84px, 28px);
    margin-right: 16px;
  }
}
.bcl-category {
  display: flex;
  align-items: center;
  @include wh(650px, 38px);
  margin: 0 auto 12px;
  &-icon {
    @include wh(30px, 28px);
    margin-right: 18px;
    background: url('../../static/images/tag.svg') no-repeat;
  }
  &-content {
    display: flex;
    align-items: center;
    @include wh(596px, 38px);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.96px;
    color: #535360;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.bcl-location {
  display: flex;
  align-items: center;
  @include wh(648px, 38px);
  margin: 0 auto 12px;
  &-icon {
    @include wh(26px, 28px);
    margin-right: 21px;
    margin-bottom: 2px;
    background: url('../../static/images/brand-card-local.svg') no-repeat;
  }
  &-mall {
    @include wh(336px, 38px);
    margin-right: 40px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.96px;
    line-height: 1.6;
    color: #ababb8;
  }
  &-unit-icon {
    @include wh(26px, 28px);
    margin-right: 10px;
    background: url('../../static/images/brand-card-unit.svg') no-repeat;
  }
  &-unit-number {
    @include wh(172px, 38px);
    @include ddd;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.96px;
    line-height: 1.6;
    color: #535360;
  }
}
