@import '../../static/css/mixin';
.activity-index {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #ffffff;
}
.status-bar {
  z-index: 999;
  width: 100%;
  background-image: linear-gradient(to right, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 88px;
  border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
  background-image: linear-gradient(to right, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.nav-bar-title {
  font-weight: 500;
  font-size: 34px;
  color: #ffffff;
}
.activity-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: calc(128px + env(safe-area-inset-bottom));
  background-color: #f6f6f8;
}
.activity-sv.no-tab {
  padding-bottom: env(safe-area-inset-bottom);
}
.activity-oval {
  position: relative;
  top: 0;
  width: 100%;
  height: 262px;
  z-index: 900;
  .left-all-mall {
    @include abs(22px, 26px);
    @include wh(304px, 62px);
    font-family: 'TXZH';
    font-size: 32px;
    letter-spacing: 4.6px;
    color: #ffffff;
    font-weight: 400;
    .ap-picker {
      width: 100%;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .right-all-category {
    position: absolute;
    top: 22px;
    right: 26px;
    @include wh(304px, 62px);
    font-family: 'TXZH';
    font-size: 32px;
    letter-spacing: 4.6px;
    color: #ffffff;
    font-weight: 400;
    .ap-picker {
      width: 100%;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  .drop-down-icon {
    width: 38px;
    height: 38px;
    background: url('../../static/images/chevron-down-circle.svg') no-repeat;
  }
}

.activity-cover-view {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 100%;
  z-index: 910;
}
.ap-loading {
  margin: 10px auto;
  text-align: center;
  width: 100%;
}
.dismiss {
  display: none !important;
}
