.nbcl-wrap {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 504px;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.nbcl-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.nbcl-above {
  width: 700px;
  height: 272px;
  border-radius: 26px 26px 0 0;
}
.nbcl-below {
  position: relative;
  width: 700px;
  height: 232px;
  border-radius: 0 0 26px 26px;
}
.nbcl-below-divider {
  position: absolute;
  top: 84px;
  left: 28px;
  width: 648px;
  height: 2px;
  background-color: #eaeaee;
}
.nbcl-below-ss {
  position: absolute;
  bottom: 36px;
  left: 28px;
  width: 366px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.nbcl-below-sm {
  position: absolute;
  top: 32px;
  left: 28px;
  width: 444px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.nbcl-below-sl {
  position: absolute;
  top: 116px;
  left: 28px;
  width: 492px;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.nbcl-below-map {
  position: absolute;
  width: 192px;
  height: 144px;
  right: 0;
  bottom: 0;
}
