@import '../../static/css/mixin';
.nbc-wrap {
  display: flex;
  flex-direction: column;
  @include wh(700px, 502px);
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.nbc-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.nbc-above {
  position: relative;
  @include wh(700px, 270px);
  border-radius: 26px 26px 0 0;
  &-distance {
    position: absolute;
    top: 18px;
    right: 18px;
    @include fcc;
    width: auto;
    height: 42px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.35);
    border: 2px rgba(255, 255, 255, 0.16) solid;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.12px;
    color: #ffffff;
    padding: 0 12px;
  }
}

.nbc-below {
  position: relative;
  display: flex;
  justify-content: center;
  @include wh(700px, 232px);
  border-radius: 0 0 26px 26px;
  &-highlight {
    @include abs(30px, 40px);
    @include wh(30px, 30px);
    background: url('../../static/images/highlight.svg') no-repeat;
  }
  &-title {
    position: absolute;
    top: 0;
    @include wh(502px, 86px);
    @include ddd;
    line-height: 86px;
    font-weight: 500;
    font-size: 32px;
    color: #5e5e69;
  }
  &-divider {
    position: absolute;
    top: 84px;
    width: 648px;
    height: 2px;
    background-color: #eaeaee;
  }
  &-desc {
    position: absolute;
    top: 100px;
    @include wh(646px, 114px);
    @include hdd(3);
    z-index: 1;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1.12px;
    line-height: 1.583;
    color: #ababb8;
  }
  &-map-icon {
    position: absolute;
    width: 192px;
    height: 144px;
    right: 0;
    bottom: 0;
  }
}
