@import '../../static/css/mixin';
.mall-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #f6f6f8;
}
.mp-status-bar {
  width: 100%;
  background-image: linear-gradient(90deg, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.mp-navbar {
  position: relative;
  top: 0;
  width: 100%;
  height: 88px;
  background-image: linear-gradient(90deg, #2e58ff 0%, #4a3ed1 100%), linear-gradient(105deg, #2e58ff 0%, #4a3ed1 100%);
  @include fcc;
  &-navback {
    display: flex;
    align-items: center;
    @include abs(0, 0);
    width: 80px;
    height: 88px;
    .mp-ion-back {
      width: 60px;
      height: 64px;
      margin-left: 18px;
      background: url('../../static/images/chevron-back.svg') no-repeat;
    }
    .mp-icon-home {
      @include wh(44px, 44px);
      margin-left: 28px;
      background: url('../../static/images/back2-home.svg') no-repeat;
    }
  }
  &-title {
    width: fit-content;
    height: 48px;
    font-weight: 500;
    font-size: 34px;
    color: #ffffff;
  }
}

.mp-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.mp-header.header-short {
  height: 660px;
  margin-bottom: 0;
}
.mp-header {
  position: relative;
  width: 100%;
  height: 748px;
  background-color: #ffffff;
  border-bottom: #ebebef 2px solid;
  margin-bottom: 32px;
  &-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 422px;
  }
  &-card {
    position: absolute;
    top: 208px;
    left: 24px;
    width: 700px;
    height: 416px;
    background-color: transparent;
    z-index: 900;
  }
  &-picker-wrap {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30px;
    bottom: 36px;
    @include wh(690px, 38px);
    .mpp-main-cate {
      width: fit-content;
      height: 38px;
      margin-left: 10px;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 38px;
      color: #5e5e69;
    }
    .mpp-sub-cate {
      width: fit-content;
      height: 38px;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 38px;
      color: #5e5e69;
    }
    .mp-picker {
      width: 100%;
      height: 38px;
      display: flex;
      align-items: center;
    }
    .mp-cate-icon {
      width: 30px;
      height: 32px;
      margin-left: 30px;
      margin-right: 20px;
      background: url('../../static/images/arrow-down-circle.svg') no-repeat;
    }
    .mpp-next {
      width: 10px;
      height: 36px;
      margin-left: 15px;
      margin-right: 30px;
      background: url('../../static/images/arrow-right.svg') no-repeat;
    }
  }
}

.mp-back-top {
  position: fixed;
  right: 50px;
  bottom: 80px;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  //border-radius: 100%;
  //background: url("../../static/images/back2top.png") no-repeat;
  &-icon {
    width: 120px;
    height: 120px;
  }
}

.mp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mp-loading {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.dismiss {
  display: none !important;
}
