@import '../../static/css/mixin';
.loved-merchant-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #f6f6f8;
}
.lmp-nav {
  position: fixed;
  width: 100%;
  height: 392px;
  @include fcc;
  &-header {
    display: flex;
    flex-direction: column;
    @include abs(0, 0);
    width: 100%;
    height: fit-content;
    .lmp-status-bar {
      width: 100%;
    }
    .lmp-nav-bar {
      position: relative;
      @include fcc;
      width: 100%;
      height: 88px;
      .lmp-navback {
        display: flex;
        align-items: center;
        @include abs(0, 0);
        @include wh(80px, 88px);
        .lmp-ion-back {
          @include wh(60px, 64px);
          margin-left: 18px;
          background: url('../../static/images/chevron-back.svg') no-repeat;
        }
      }
      .lmp-title {
        position: absolute;
        font-weight: 500;
        font-size: 34px;
        color: #ffffff;
      }
    }
  }
}

.lmp-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
