@import '../../static/css/mixin';
.brand-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #f6f6f8;
}
.bp-status-bar {
  width: 100%;
  background-image: linear-gradient(90deg, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.bp-navbar {
  position: relative;
  width: 100%;
  height: 88px;
  background-image: linear-gradient(90deg, #2e58ff 0%, #4a3ed1 100%), linear-gradient(105deg, #2e58ff 0%, #4a3ed1 100%);
  display: flex;
  justify-content: center;
  &-navback {
    display: flex;
    align-items: center;
    @include abs(0, 0);
    @include wh(80px, 88px);
    .bp-ion-back {
      @include wh(60px, 64px);
      margin-left: 18px;
      background: url('../../static/images/chevron-back.svg') no-repeat;
    }
    .bp-icon-home {
      @include wh(44px, 44px);
      margin-left: 28px;
      background: url('../../static/images/back2-home.svg') no-repeat;
    }
  }
  &-title {
    position: absolute;
    bottom: 20px;
    width: 400px;
    height: 48px;
    font-weight: 500;
    font-size: 34px;
    color: #ffffff;
    text-align: center;
    @include ddd;
  }
}

.bp-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: env(safe-area-inset-bottom);
}
.bp-header {
  position: relative;
  width: 100%;
  height: 688px;
  background-color: #ffffff;
  border-bottom: #eaeaee 2px solid;
  &-bg {
    @include abs(0, 0);
    width: 100%;
    height: 382px;
  }
  &-card {
    @include abs(104px, 24px);
    @include wh(700px, 394px);
    background-color: transparent;
    z-index: 900;
  }
  &-menu-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 28px;
    left: 0;
    .bp-menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @include wh(126px, 120px);
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0.7px;
      line-height: 1.462;
      color: #ababb8;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
    }
    .bp-menu-item:after {
      border: 0;
    }
    .bp-menu-icon {
      @include wh(72px, 72px);
    }
    .bp-menu-txt {
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0.7px;
      line-height: 1.462;
      color: #ababb8;
    }
    .bp-contact-icon {
      @include wh(72px, 72px);
      background: url('../../static/images/contact.svg') no-repeat;
    }
    .bp-contact-icon:active {
      background: url('../../static/images/contact-a.svg') no-repeat;
    }
    .bp-share-icon {
      @include wh(72px, 72px);
      background: url('../../static/images/share.svg') no-repeat;
    }
    .bp-share-icon:active {
      background: url('../../static/images/share-a.svg') no-repeat;
    }
  }
}

.bp-promotions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-title {
    @include wh(376px, 54px);
    margin: 34px auto 38px;
  }
  &-placeholder {
    //@include wh(642px, 642px);
    @include wh(700px, 618px);
    margin: 60px auto 0;
  }
}

.bp-siblings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 24px;
}
.bp-loading {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.dismiss {
  display: none !important;
}
