@import '../../static/css/mixin';
.bp-wrap {
  width: 100%;
  height: auto;
}
.bp-wrap-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-image {
    width: 100%;
    height: 325px;
    margin: 0 auto;
  }
  &-introduction {
    margin: 30px auto 10px;
    @include wh(678px, 406px);
    font-size: 28px;
    color: #5e5e69;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2;
    white-space: pre-wrap;
  }
}

.bp-wrap-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-mrt {
    display: flex;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 10px auto 6px;
    .mrt-icon {
      @include wh(34px, 46px);
      margin-right: 26px;
    }
  }
  &-mrt-card {
    position: relative;
    @include wh(700px, 164px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 32px;
    .bp-mrt-title {
      position: absolute;
      left: 31px;
      top: 26px;
      width: 640px;
      height: 52px;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.733;
      color: #5e5e69;
    }
    .bp-mrt-ew {
      position: absolute;
      left: 32px;
      bottom: 30px;
      width: 192px;
      height: 46px;
      border-radius: 8px;
      background-color: #00943a;
      border: #006226 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .bp-mrt-dt {
      @include abs(88px, 254px);
      @include wh(240px, 46px);
      @include fcc;
      border-radius: 8px;
      background-color: #1c4ce2;
      border: #0b33b0 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }
  &-bus {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 34px auto 0;
    .bus-icon {
      @include wh(40px, 44px);
      margin-right: 26px;
    }
  }
  &-bus-card {
    @include fcc;
    @include wh(700px, 186px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 50px;
    .bp-bus-no {
      width: 640px;
      height: auto;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.769;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}

.bp-wrap-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-wifi {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 16px auto 0;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .wifi-icon {
      @include wh(42px, 30px);
      margin-right: 26px;
    }
  }
  &-wifi-card {
    @include wh(700px, 192px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 36px;
    .bp-wifi-content {
      @include wh(630px, 138px);
      margin: 26px 38px 28px 32px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.634;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }
  &-customer-service {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 0 auto;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .customer-service-icon {
      @include wh(38px, 38px);
      margin-right: 24px;
    }
    .family-service-icon {
      @include wh(68px, 34px);
      margin-right: 15px;
    }
  }
  &-cs-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 34px;
    .bp-cs-details {
      width: 630px;
      height: auto;
      margin: 20px auto;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-family-card {
    position: relative;
    @include wh(700px, 150px);
    margin: 0 auto 14px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    .family-service-title {
      @include abs(16px, 32px);
      width: auto;
      height: 46px;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.643;
      color: #5e5e69;
    }
    .family-service-detail {
      @include abs(76px, 32px);
      width: auto;
      height: 46px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.643;
      color: #5e5e69;
    }
  }
}

.bp-wrap-parking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-fee {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 16px auto 0;
    .parking-fee-icon {
      @include wh(58px, 36px);
      margin-right: 26px;
    }
  }
  &-car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include wh(700px, 918px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 22px;
    .car-card-title {
      @include wh(198px, 62px);
      margin: 36px auto 0 32px;
    }
    .car-card-panel {
      width: 628px;
      height: auto;
      margin: 30px auto 0;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}
