@import '../../static/css/mixin';
.bj-wrap {
  width: 100%;
  height: auto;
}
.bj-wrap-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-image {
    width: 100%;
    height: 325px;
    margin: 30px auto 0;
  }
  &-introduction {
    margin: 30px auto 10px;
    width: 678px;
    height: 986px;
    font-size: 28px;
    color: #5e5e69;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 58px;
    white-space: pre-wrap;
  }
}
.bj-wrap-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-mrt {
    display: flex;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 10px auto 6px;
    .mrt-icon {
      @include wh(34px, 46px);
      margin-right: 26px;
    }
  }
  &-mrt-card {
    position: relative;
    width: 700px;
    height: 164px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 32px;
    .bj-mrt-title {
      position: absolute;
      left: 31px;
      top: 26px;
      width: 640px;
      height: 52px;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.733;
      color: #5e5e69;
    }
    .bj-mrt-ew {
      position: absolute;
      left: 32px;
      bottom: 30px;
      width: 192px;
      height: 46px;
      border-radius: 8px;
      background-color: #00943a;
      border: #006226 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .bj-mrt-dt {
      @include abs(88px, 254px);
      @include wh(240px, 46px);
      @include fcc;
      border-radius: 8px;
      background-color: #1c4ce2;
      border: #0b33b0 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }
  &-bus {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 34px auto 0;
    .bus-icon {
      @include wh(40px, 44px);
      margin-right: 26px;
    }
  }
  &-bus-card {
    @include fcc;
    @include wh(700px, 164px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 252px;
    .bj-bus-no {
      width: 640px;
      height: auto;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.769;
      color: #5e5e69;
    }
  }
}
.bj-wrap-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-wifi {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 16px auto 0;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .wifi-icon {
      @include wh(42px, 30px);
      margin-right: 26px;
    }
  }
  &-wifi-card {
    @include wh(700px, 192px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 36px;
    .bj-wifi-content {
      @include wh(630px, 138px);
      margin: 26px 38px 28px 32px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.634;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }
  &-customer-service {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 0 auto;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .customer-service-icon {
      @include wh(38px, 38px);
      margin-right: 24px;
    }
    .nursing-room-icon {
      @include wh(42px, 48px);
      margin-right: 26px;
    }
  }
  &-cs-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 40px;
    .bj-cs-title {
      @include wh(630px, 46px);
      margin: 20px auto 8px;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.643;
      color: #5e5e69;
    }
    .bj-cs-details {
      width: 630px;
      height: auto;
      margin: 0 auto 20px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-nursing-room {
    @include wh(700px, 234px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 16px;
    .bj-nr-content {
      @include wh(636px, 162px);
      margin: 40px 32px 32px;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}
.bj-wrap-parking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-fee {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 16px auto 0;
    .parking-fee-icon {
      @include wh(58px, 36px);
      margin-right: 26px;
    }
  }
  &-car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include wh(700px, 918px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto;
    .car-card-title {
      @include wh(198px, 62px);
      margin: 36px auto 0 32px;
    }
    .car-card-panel {
      width: 628px;
      height: auto;
      margin: 30px auto 0;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-motor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include wh(700px, 410px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 50px auto 16px;
    .motor-card-title {
      @include wh(242px, 62px);
      margin: 30px auto 0 26px;
    }
    .motor-card-panel {
      width: 628px;
      height: auto;
      margin: 38px auto 0;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}
