@import '../../static/css/mixin';
.cq-wrap {
  width: 100%;
  height: auto;
}
.cq-wrap-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-image {
    width: 100%;
    height: 420px;
    margin: 0 auto;
  }
  &-introduction {
    margin: 32px auto 12px;
    @include wh(678px, 350px);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.786;
    color: #5e5e69;
    white-space: pre-wrap;
  }
}

.cq-wrap-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-mrt {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 10px auto 6px;
    .mrt-icon {
      @include wh(34px, 46px);
      margin-right: 26px;
    }
  }
  &-mrt-card {
    position: relative;
    @include wh(700px, 164px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 20px;
    .cq-mrt-title {
      @include abs(26px, 31px);
      width: 640px;
      height: 52px;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.733;
      color: #5e5e69;
    }
    .cq-mrt-ew {
      position: absolute;
      left: 32px;
      bottom: 30px;
      width: 192px;
      height: 46px;
      border-radius: 8px;
      background-color: #00943a;
      border: #006226 2px solid;
      @include fcc;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .cq-mrt-ns {
      @include abs(88px, 246px);
      @include wh(192px, 46px);
      @include fcc;
      border-radius: 8px;
      background-color: #e2211c;
      border: #9c0400 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .cq-mrt-ne {
      @include abs(88px, 32px);
      @include wh(192px, 46px);
      @include fcc;
      border-radius: 8px;
      background-color: #ac45bf;
      border: #852796 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .cq-mrt-dt {
      @include abs(88px, 32px);
      @include wh(264px, 46px);
      @include fcc;
      border-radius: 8px;
      background-color: #1c4ce2;
      border: #0b33b0 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .cq-walk-1 {
      @include abs(86px, 247px);
      width: auto;
      height: 52px;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.733;
      color: #5e5e69;
    }
    .cq-walk-2 {
      @include abs(86px, 315px);
      width: auto;
      height: 52px;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.733;
      color: #5e5e69;
    }
    .cq-walk-3 {
      @include abs(86px, 461px);
      width: auto;
      height: 52px;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.733;
      color: #5e5e69;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 14px auto 0;
  }
  &-bus {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 34px auto 10px;
    .bus-icon {
      @include wh(40px, 44px);
      margin-right: 26px;
    }
    .blue-sg-icon {
      @include wh(44px, 34px);
      margin-right: 26px;
    }
    .river-taxi-icon {
      @include wh(38px, 38px);
      margin-right: 28px;
    }
  }
  &-bus-card {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto;
    .cq-bus-head {
      width: 570px;
      height: auto;
      margin: 18px auto 32px 34px;
      font-weight: 500;
      font-size: 28px;
      line-height: 2.214;
      color: #5e5e69;
      white-space: pre-wrap;
    }
    .cq-bus-title {
      width: auto;
      height: 62px;
      margin: 0 auto 0 34px;
      font-size: 28px;
      font-weight: 500;
      line-height: 2.214;
      color: #5e5e69;
    }
    .cq-bus-no {
      width: 640px;
      height: auto;
      margin: 0 auto 22px 34px;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.769;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-bsg-card {
    width: 700px;
    height: auto;
    margin: 0 auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    .cq-bsg-content {
      width: 600px;
      height: auto;
      margin: 18px auto 16px 36px;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.857;
      color: #5e5e69;
    }
  }
  &-river-taxi-card {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    margin: 0 auto 8px;
    border-radius: 18px;
    background-color: #ffffff;
    .cq-river-taxi-head {
      width: auto;
      height: 38px;
      margin: 24px auto 0 30px;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.357;
      color: #5e5e69;
    }
    .cq-river-taxi-body {
      width: 630px;
      height: auto;
      margin: 10px auto 30px 30px;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.769;
      color: #5e5e69;
    }
  }
}

.cq-wrap-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-wifi {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 16px auto 0;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .wifi-icon {
      @include wh(42px, 30px);
      margin-right: 26px;
    }
  }
  &-wifi-card {
    @include wh(700px, 144px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 574px;
    .cq-wifi-content {
      @include wh(630px, 96px);
      margin: 28px 38px 24px 32px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.634;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}

.cq-wrap-parking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-fee {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 16px auto 0;
    .parking-fee-icon {
      width: 58px;
      height: 36px;
      margin-right: 26px;
    }
  }
  &-car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    padding-top: 36px;
    margin: 0 auto 106px;
    .car-card-panel {
      width: 628px;
      height: auto;
      margin: 0 auto 36px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}
