@import '../../static/css/mixin';
.fn-wrap {
  width: 100%;
  height: auto;
}
.fn-wrap-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-image {
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  &-introduction {
    margin: 44px auto 24px;
    @include wh(678px, 406px);
    font-size: 28px;
    color: #5e5e69;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2;
    white-space: pre-wrap;
  }
}

.fn-wrap-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-mrt {
    display: flex;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 10px auto 6px;
    .mrt-icon {
      @include wh(34px, 46px);
      margin-right: 26px;
    }
  }
  &-mrt-card {
    position: relative;
    @include wh(700px, 164px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 32px;
    .fn-mrt-title {
      position: absolute;
      left: 31px;
      top: 26px;
      width: 640px;
      height: 52px;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.733;
      color: #5e5e69;
    }
    .fn-mrt-ew {
      position: absolute;
      left: 32px;
      bottom: 30px;
      width: 192px;
      height: 46px;
      border-radius: 8px;
      background-color: #00943a;
      border: #006226 2px solid;
      @include fcc;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .fn-mrt-ns {
      @include abs(88px, 254px);
      @include wh(192px, 46px);
      @include fcc;
      border-radius: 8px;
      background-color: #e2211c;
      border: #9c0400 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }
  &-bus {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 34px auto 10px;
    .bus-icon {
      @include wh(40px, 44px);
      margin-right: 26px;
    }
  }
  &-bus-card {
    @include fcc;
    flex-direction: column;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 24px;
    .fn-bus-title {
      width: auto;
      height: 46px;
      margin: 30px auto 20px 34px;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.643;
      color: #5e5e69;
    }
    .fn-bus-no {
      width: 640px;
      height: auto;
      margin: 0 28px 30px 34px;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.769;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-self-driving {
    display: flex;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 12px auto 0;
    .self-driving-icon {
      width: 38px;
      height: 38px;
      margin-right: 26px;
    }
  }
  &-self-driving-park {
    @include wh(376px, 46px);
    margin: 22px auto 36px 60px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.643;
    color: #5e5e69;
  }
}

.fn-wrap-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-wifi {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 16px auto 0;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .wifi-icon {
      @include wh(42px, 30px);
      margin-right: 26px;
    }
  }
  &-wifi-card {
    @include wh(700px, 144px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 36px;
    .fn-wifi-content {
      @include wh(630px, 96px);
      margin: 28px 38px 24px 32px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.634;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }
  &-customer-service {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 0 auto;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .customer-service-icon {
      @include wh(38px, 38px);
      margin-right: 24px;
    }
    .nursing-room-icon {
      @include wh(42px, 48px);
      margin-right: 26px;
    }
    .bike-icon {
      @include wh(58px, 38px);
      margin-right: 18px;
    }
  }
  &-cs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 34px;
    .fn-cs-title {
      @include wh(630px, 46px);
      margin: 20px auto 8px;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.643;
      color: #5e5e69;
    }
    .fn-cs-details {
      width: 630px;
      height: auto;
      margin: 0 auto 20px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-nursing-room {
    @include wh(700px, 122px);
    @include fcc;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 36px;
    .fn-nr-content {
      @include wh(636px, 54px);
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-bike-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto;
    .bike-card-detail {
      width: 636px;
      height: auto;
      margin: 12px auto 26px;
      font-weight: 400;
      font-size: 28px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
    .bike-card-tips {
      width: 636px;
      height: auto;
      margin: 0 auto 34px;
      font-weight: 400;
      font-size: 20px;
      line-height: 2.1;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}

.fn-wrap-parking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-fee {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 16px auto 0;
    .parking-fee-icon {
      width: 58px;
      height: 36px;
      margin-right: 26px;
    }
  }
  &-car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 918px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto;
    .car-card-title {
      @include wh(198px, 62px);
      margin: 36px auto 0 32px;
    }
    .car-card-panel {
      width: 628px;
      height: auto;
      margin: 30px auto 0;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-motor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 410px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 50px auto 0;
    .motor-card-title {
      width: 242px;
      height: 62px;
      margin: 30px auto 0 32px;
    }
    .motor-card-panel {
      width: 628px;
      height: 108px;
      margin: 38px auto 0;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}
