@import '../../static/css/mixin';
.psg-wrap {
  width: 100%;
  height: auto;
}
.psg-wrap-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-image {
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  &-introduction {
    margin: 42px auto 22px;
    @include wh(678px, 350px);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.786;
    color: #5e5e69;
    white-space: pre-wrap;
  }
}

.psg-wrap-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-mrt {
    display: flex;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 10px auto 6px;

    .mrt-icon {
      @include wh(34px, 46px);
      margin-right: 26px;
    }
  }

  &-mrt-card {
    position: relative;
    @include wh(700px, 164px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 30px;

    .psg-mrt-title {
      position: absolute;
      left: 31px;
      top: 26px;
      width: 640px;
      height: 52px;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.733;
      color: #5e5e69;
    }
    .psg-mrt-cc {
      @include fcc;
      @include abs(88px, 404px);
      @include wh(206px, 46px);
      border-radius: 8px;
      background-color: #ff9e1a;
      border: #b8780c 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
    .psg-mrt-ne {
      @include fcc;
      @include abs(88px, 220px);
      @include wh(166px, 46px);
      border-radius: 8px;
      background-color: #9926aa;
      border: #852796 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }

    .psg-mrt-ns {
      @include abs(88px, 32px);
      @include wh(170px, 46px);
      @include fcc;
      border-radius: 8px;
      background-color: #e2211c;
      border: #9c0400 2px solid;
      font-size: 26px;
      font-weight: 400;
      line-height: 2;
      color: #ffffff;
    }
  }

  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }

  &-bus {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 0 auto;

    .bus-icon {
      @include wh(40px, 44px);
      margin-right: 26px;
    }
    .psg-entrance-icon {
      @include wh(52px, 52px);
      margin-right: 20px;
    }
  }

  &-bus-card {
    @include fcc;
    width: 700px;
    height: 220px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 30px;
    .psg-bus-no {
      width: 640px;
      height: auto;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.769;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-entrance-card {
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 10px;
    .psg-entrance-head {
      width: auto;
      height: 46px;
      margin: 32px auto 18px 34px;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.643;
      color: #5e5e69;
    }
    .psg-entrance-content {
      width: 630px;
      height: auto;
      margin: 0 auto 24px 30px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}

.psg-wrap-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-wifi {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 16px auto 0;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .wifi-icon {
      @include wh(42px, 30px);
      margin-right: 26px;
    }
  }
  &-wifi-card {
    @include wh(700px, 144px);
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 34px;
    .psg-wifi-content {
      @include wh(630px, 92px);
      margin: 28px 38px 24px 32px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.634;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }

  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }

  &-customer-service {
    display: flex;
    align-items: center;
    @include wh(640px, 86px);
    margin: 0 auto;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .customer-service-icon {
      @include wh(38px, 38px);
      margin-right: 24px;
    }
    .family-service-icon {
      @include wh(68px, 34px);
      margin-right: 15px;
    }
  }
  &-cs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    padding-top: 20px;
    margin: 0 auto 34px;
    .psg-cs-details {
      width: 630px;
      height: auto;
      margin: 24px auto;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }

  &-family-card {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    margin: 0 auto 34px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    .psg-fs-title {
      width: auto;
      height: 46px;
      margin: 20px auto 14px 32px;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.643;
      color: #5e5e69;
    }
    .psg-fs-detail {
      width: 640px;
      height: auto;
      margin: 0 auto 20px 32px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.643;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}

.psg-wrap-parking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-fee {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 16px auto 0;
    .parking-fee-icon {
      width: 58px;
      height: 36px;
      margin-right: 26px;
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 36px;
    .car-card-title {
      @include wh(198px, 62px);
      margin: 30px auto 18px 32px;
    }
    .motor-card-title {
      @include wh(242px, 62px);
      margin: 30px auto 18px 32px;
    }

    .psg-parking-card-panel {
      width: 628px;
      height: auto;
      margin: 0 auto 20px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-gst-card {
    @include wh(700px, 54px);
    margin: 0 auto 20px;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1.929;
    color: #5e5e69;
    white-space: pre-wrap;
  }
}
