.rc-wrap {
  width: 100%;
  height: auto;
}
.rc-wrap-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-image {
    width: 100%;
    height: 500px;
    margin: 30px auto 0;
  }
  &-introduction {
    margin: 30px auto 70px;
    width: 678px;
    height: 696px;
    font-size: 28px;
    color: #5e5e69;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 58px;
  }
}

.rc-wrap-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-mrt {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 10px auto 6px;
    .mrt-icon {
      width: 34px;
      height: 46px;
      margin-right: 26px;
    }
  }
  &-mrt-1 {
    position: relative;
    width: 700px;
    height: 164px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 28px;
    .mrt-1-title {
      position: absolute;
      left: 34px;
      top: 26px;
      width: 570px;
      height: 52px;
      font-size: 30px;
      font-weight: 400;
      line-height: 52px;
      color: #5e5e69;
    }
    .mrt-1-ew {
      position: absolute;
      left: 32px;
      bottom: 30px;
      width: 192px;
      height: 46px;
      border-radius: 8px;
      background-color: #00943a;
      border: #006226 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: 400;
      line-height: 52px;
      color: #ffffff;
    }
    .mrt-1-ns {
      position: absolute;
      left: 254px;
      bottom: 30px;
      width: 192px;
      height: 46px;
      border-radius: 8px;
      background-color: #e2211c;
      border: #9c0400 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: 400;
      line-height: 52px;
      color: #ffffff;
    }
  }
  &-mrt-2 {
    position: relative;
    width: 700px;
    height: 164px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 42px;
    .mrt-2-title {
      position: absolute;
      left: 34px;
      top: 26px;
      width: 594px;
      height: 52px;
      font-size: 30px;
      font-weight: 400;
      line-height: 52px;
      color: #5e5e69;
    }
    .mrt-2-cc {
      position: absolute;
      left: 32px;
      bottom: 28px;
      width: 368px;
      height: 46px;
      border-radius: 8px;
      background-color: #ff9e1a;
      border: #b8780c 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: 400;
      line-height: 52px;
      color: #000000;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto 2px;
  }
  &-divider.last {
    margin: 42px auto 28px;
  }
  &-taxi {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 0 auto;
    .taxi-icon {
      width: 58px;
      height: 34px;
      margin-right: 20px;
    }
    .bus-icon {
      width: 40px;
      height: 44px;
      margin-right: 26px;
    }
    .car-icon {
      width: 38px;
      height: 38px;
      margin-right: 26px;
    }
  }
  &-taxi-card {
    position: relative;
    width: 700px;
    height: 282px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 42px;
    .rc-taxi-p1 {
      position: absolute;
      width: 424px;
      height: 46px;
      top: 24px;
      left: 32px;
      font-size: 28px;
      font-weight: 500;
      line-height: 46px;
      color: #5e5e69;
    }
    .rc-taxi-pc {
      position: absolute;
      top: 80px;
      left: 32px;
      width: 206px;
      height: 46px;
      border-radius: 8px;
      border: #5e5e69 2px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: 400;
      color: #5e5e69;
    }
    .rc-taxi-p2 {
      position: absolute;
      width: auto;
      height: 46px;
      top: 146px;
      left: 32px;
      font-size: 28px;
      font-weight: 500;
      line-height: 46px;
      color: #5e5e69;
    }
    .rc-taxi-pc.p2 {
      top: 216px;
    }
  }

  &-bus-card {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    border-radius: 18px;
    border: #eaeaee 2px solid;
    background-color: #ffffff;
    margin: 0 auto 20px;
    .rc-bus-title {
      width: auto;
      height: 46px;
      margin: 20px auto 16px 34px;
      font-size: 28px;
      font-weight: 500;
      line-height: 46px;
      color: #5e5e69;
    }
    .rc-bus-no {
      width: 632px;
      height: auto;
      margin: 0 auto 16px;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.769;
      color: #5e5e69;
    }
  }

  &-car-park {
    width: 580px;
    height: 46px;
    margin: 22px auto 32px 60px;
    font-size: 28px;
    font-weight: 500;
    line-height: 46px;
    color: #5e5e69;
  }
}

.rc-wrap-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-wifi {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    margin: 16px auto 0;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .wifi-icon {
      width: 42px;
      height: 30px;
      margin-right: 26px;
    }
  }
  &-wifi-card {
    width: 700px;
    height: 192px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 34px;
    .rc-wifi-content {
      width: 630px;
      height: 138px;
      margin: 26px 38px 28px 32px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.634;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-divider {
    width: 100%;
    height: 2px;
    background-color: #eaeaee;
    margin: 0 auto;
  }
  &-customer-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4px;
    color: #5e5e69;
    .customer-service-icon {
      width: 38px;
      height: 38px;
      margin-right: 24px;
    }
    .nursing-room-icon {
      width: 42px;
      height: 48px;
      margin-right: 26px;
    }
    .atm-icon {
      width: 44px;
      height: 32px;
      margin-right: 26px;
    }
    .currency-exchange-icon {
      width: 38px;
      height: 38px;
      margin-right: 26px;
    }
    .clinic-icon {
      width: 42px;
      height: 36px;
      margin-right: 26px;
    }
    .dry-cleaner-icon {
      width: 44px;
      height: 40px;
      margin-right: 26px;
    }
    .repair-shop-icon {
      width: 44px;
      height: 42px;
      margin-right: 26px;
    }
  }
  &-cs-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: auto;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 34px;
    .rc-cs-title {
      width: 630px;
      height: 46px;
      margin: 20px auto 8px;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.643;
      color: #5e5e69;
    }
    .rc-cs-details {
      width: 630px;
      height: auto;
      margin: 0 auto 20px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-nursing-room {
    width: 700px;
    height: 338px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 34px;
    .rc-nr-content {
      width: 636px;
      height: 270px;
      margin: 40px 32px 28px 32px;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-atm-card {
    position: relative;
    width: 700px;
    height: 450px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto 34px;
    .rc-atm-logos {
      position: absolute;
      top: 22px;
      left: 30px;
      width: 50px;
      height: 388px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      .rc-atm-logo {
        width: 42px;
        height: 42px;
        border-radius: 36px;
        background-color: #d8d8d8;
        border: #eaeaee 2px solid;
      }
    }
    .rc-atm-names {
      position: absolute;
      top: 22px;
      right: 22px;
      width: 570px;
      height: 404px;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 2.429;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-dash-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    min-height: 128px;
    border-radius: 18px;
    border: #eaeaee 2px solid;
    background-color: #ffffff;
    margin: 0 auto 34px;
    .rc-panel-content {
      display: flex;
      align-items: center;
      width: 640px;
      min-height: 108px;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
}

.rc-wrap-parking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-fee {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 86px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #5e5e69;
    margin: 16px auto 0;
    .parking-fee-icon {
      width: 58px;
      height: 36px;
      margin-right: 26px;
    }
  }
  &-car-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 622px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 0 auto;
    .car-card-title {
      width: 198px;
      height: 62px;
      margin: 36px auto 0 32px;
    }
    .car-card-panel {
      width: 628px;
      height: 216px;
      margin: 30px auto 0;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-motor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 270px;
    border-radius: 18px;
    background-color: #ffffff;
    border: #eaeaee 2px solid;
    margin: 38px auto 0;
    .motor-card-title {
      width: 242px;
      height: 62px;
      margin: 30px auto 0 26px;
    }
    .motor-card-panel {
      width: 628px;
      height: 108px;
      margin: 38px auto 0;
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 1px;
      line-height: 1.929;
      color: #5e5e69;
      white-space: pre-wrap;
    }
  }
  &-tips {
    width: 492px;
    height: 54px;
    margin: 28px auto 8px 30px;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1.929;
    color: #5e5e69;
  }
}
