@import '../../static/css/mixin';
.btc-wrap {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  width: 700px;
  min-height: 500px;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  background-color: #ffffff;
}

.btc-header {
  @include wh(700px, 172px);
  position: relative;
}
.btc-logo {
  @include abs(22px, 40px);
  @include wh(188px, 144px);
}
.btc-title {
  display: flex;
  align-items: center;
  @include abs(29.5px, 248px);
  @include wh(220px, 120px);
  font-weight: 500;
  font-size: 32px;
  color: #5e5e69;
  white-space: pre-wrap;
}
.btc-distance {
  @include abs(17.5px, 574px);
  @include wh(108px, 42px);
  @include fcc;
  border-radius: 18px;
  border: rgba(171, 171, 184, 0.24) 2px solid;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.12px;
  color: #ababb8;
}

.btc-desc {
  @include wh(646px, 114px);
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.12px;
  line-height: 1.583;
  color: #ababb8;
}

.btc-divider {
  @include wh(648px, 2px);
  background-color: #eaeaee;
  margin: 19px auto 28px;
}

.btc-logos-wrap {
  @include wh(566px, 134px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 30px;
  &-siblings {
    @include wh(134px, 134px);
    border-radius: 50%;
    border: 2px #eaeaee solid;
  }
}

.btc-malls {
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  overflow: hidden;
  &-collapse {
    @include wh(234px, 84px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 20px;
  }
  .collapse-txt {
    @include fcc;
    width: 100%;
    height: 36px;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 4.88px;
    color: #ababb8;
  }
  .collapse-wrap {
    width: 100%;
    height: 48px;
    @include fcc;
  }
  .collapse-icon {
    @include wh(56px, 16px);
    background: url('../../static/images/collaspe.svg') no-repeat;
  }
}
