.mcm-wrap {
  position: relative;
  width: 700px;
  height: 254px;
  background-color: #ffffff;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  &-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 158px;
    border-radius: 26px 26px 0 0;
    box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  }
  &-logo {
    position: absolute;
    top: 96px;
    left: 28px;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    border: #eaeaee 2px solid;
  }
  &-title {
    position: absolute;
    top: 158px;
    right: 14px;
    width: 502px;
    height: 86px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    color: #5e5e69;
  }
  &-distance {
    position: absolute;
    top: 22px;
    right: 18px;
    width: auto;
    height: 42px;
    border-radius: 18px;
    border: rgba(255, 255, 255, 0.16) 2px solid;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.1px;
    color: #ffffff;
    padding: 0 12px;
  }
}
.mcm-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
