.mcll-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 700px;
  height: 502px;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  background-color: #ffffff;
  //background-color: #fdfdfd;
  //margin: 0 auto;
  //transition: 500ms;
}
.mcll-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.mcll-above {
  position: absolute;
  top: 0;
  width: 100%;
  height: 270px;
  border-radius: 26px 26px 0 0;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.capt-l {
  width: 314px;
  height: 140px;
}
.mcll-logo {
  position: absolute;
  left: 25px;
  top: 203px;
  width: 140px;
  height: 140px;
}
.mcll-below {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 232px;
  border-radius: 0 0 26px 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.mcll-below-sketch {
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.mcll-below-divider {
  width: 648px;
  height: 2px;
  background-color: #eaeaee;
  margin: 30px 0 0 28px;
}
.s {
  width: 486px;
  margin: 24px 0 0 28px;
}
.l {
  width: 492px;
  margin: 26px 0 0 174px;
}
.xl {
  width: 648px;
  margin: 28px 0 0 28px;
}
