.mcxl-wrap {
  position: relative;
  width: 700px;
  height: 416px;
  background-color: #ffffff;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.mcxl-logo {
  position: absolute;
  top: 22px;
  left: 28px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: #eaeaee 2px solid;
}
.mcxl-title {
  position: absolute;
  top: 22px;
  right: 26px;
  width: 534px;
  height: 86px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  color: #5e5e69;
}
.mcxl-address {
  display: flex;
  align-items: center;
  position: absolute;
  top: 132px;
  left: 32px;
  width: 650px;
  height: 38px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 38px;
  color: #5c516b;
  &-location-icon {
    width: 34px;
    height: 38px;
    margin-right: 20px;
  }
  &-map-icon {
    width: 16px;
    height: 30px;
    margin-left: auto;
  }
}
.mcxl-divider {
  position: absolute;
  top: 194px;
  left: 26px;
  width: 648px;
  height: 2px;
  background-color: #eaeaee;
}
.light {
  top: 354px;
  background-color: rgba(234, 234, 238, 0.32);
}
.mcxl-tags {
  position: absolute;
  top: 222px;
  left: 28px;
  width: 644px;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86px;
    height: 100%;
    text-align: center;
  }
  &-es {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98px;
    height: 100%;
    text-align: center;
  }
  .tag-icon {
    width: 70px;
    height: 70px;
  }
  .tag-search-txt {
    width: 86px;
    height: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #ababb8;
  }
  .tag-es-txt {
    width: 98px;
    height: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #ababb8;
  }
  .section-active {
    color: #6b8ef7;
  }
}

.mcxl-operating {
  position: absolute;
  top: 374px;
  left: 32px;
  width: 640px;
  height: 28px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.96px;
  color: #535360;
  &-icon {
    width: 30px;
    height: 28px;
    margin-right: 16px;
  }
}
