.mcml-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 700px;
  height: 254px;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  background-color: #ffffff;
}
.mcml-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.mcml-above {
  position: absolute;
  top: 0;
  width: 100%;
  height: 158px;
  border-radius: 26px 26px 0 0;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.capt-m {
  width: 220px;
  height: 98px;
}
.mcml-logo {
  position: absolute;
  left: 27px;
  top: 94px;
  width: 136px;
  height: 136px;
}
.mcml-below {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 96px;
  border-radius: 0 0 26px 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.mcml-below-sketch {
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.ll {
  width: 492px;
  margin: 34px 0 0 178px;
}
