@import '../../static/css/mixin';
.mcl-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 700px;
  min-height: 498px;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  background-color: #ffffff;
}
.mcl-wrap:active {
  transform: scale(1.05);
  transition: 300ms;
}
.mcl-above {
  position: absolute;
  top: 0;
  width: 100%;
  height: 266px;
  border-radius: 26px 26px 0 0;
  //background-color: #fdfdfd;
}
.mcl-logo {
  position: absolute;
  left: 28px;
  top: 203px;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: 2px #eaeaee solid;
}

.mcl-distance {
  position: absolute;
  width: auto;
  height: 42px;
  top: 26px;
  right: 24px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1.1px;
  padding: 0 12px;
}

.mcl-title {
  position: absolute;
  width: 502px;
  height: 86px;
  top: 270px;
  left: 184px;
  font-size: 32px;
  color: #5e5e69;
  font-weight: 500;
  @include ddd;
  line-height: 86px;
}

.mcl-divider {
  position: absolute;
  top: 356px;
  left: 28px;
  width: 648px;
  height: 2px;
  background-color: #eaeaee;
}

.mcl-desc {
  position: absolute;
  top: 372px;
  left: 28px;
  width: 646px;
  @include hdd(3);
  //height: 114px;
  font-size: 24px;
  font-weight: 400;
  color: #ababb8;
  letter-spacing: 1.1px;
  line-height: 38px;
}
