@import '../../static/css/mixin';
.bc-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  min-height: 222px;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
}
.bc-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.bc-above {
  position: relative;
  width: 100%;
  height: 172px;
  border-radius: 18px 18px 0 0;
  &-logo-wrap {
    position: absolute;
    top: 26px;
    left: 28.9px;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    border: #eaeaee 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-logo {
    width: 106px;
    height: 106px;
    border-radius: 50%;
  }
  &-title {
    @include ddd;
    position: absolute;
    left: 174px;
    top: 14px;
    width: 498px;
    height: 42px;
    font-weight: 500;
    font-size: 30px;
    color: #5c516b;
  }
  &-promotions {
    position: absolute;
    right: 22px;
    top: 18px;
    width: 112px;
    height: 34px;
  }
  &-desc-wrap {
    position: absolute;
    left: 174px;
    top: 60px;
    width: 498px;
    height: 102px;
    display: flex;
    align-items: center;
    .bc-desc {
      @include hdd(3);
      font-size: 22px;
      font-weight: 400;
      color: #ababb8;
      letter-spacing: 0.88px;
      line-height: 32px;
    }
  }
}
.bc-above-no-desc {
  position: relative;
  width: 100%;
  height: 84px;
  border-radius: 18px 18px 0 0;
  &-logo-wrap {
    @include abs(12px, 28px);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: #ababb8 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-logo {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    border: #eaeaee 2px solid;
  }
  &-title {
    @include ddd;
    @include abs(32px, 132px);
    width: 498px;
    height: 42px;
    font-weight: 500;
    font-size: 30px;
    color: #5c516b;
  }
}

.bc-divider {
  width: 648px;
  height: 2px;
  background-color: #eaeaee;
  margin: 10px auto 12px;
}

.bc-dgc {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 654px;
  height: 40px;
  margin: 0 auto 12px;
  &-icon {
    width: 34px;
    height: 24px;
    margin-right: 12px;
    background: url('../../static/images/gift.svg') no-repeat;
  }
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 596px;
    height: 40px;
  }
  &-cv {
    width: 150px;
    height: 26px;
  }
  &-ecv {
    width: 154px;
    height: 26px;
  }
  &-cc {
    width: 126px;
    height: 26px;
  }
  &-sx {
    width: 136px;
    height: 26px;
  }
}

.bc-payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 648px;
  height: 40px;
  margin: 0 auto 12px;
  &-icon {
    width: 24px;
    height: 30px;
    margin-right: 18px;
    background: url('../../static/images/payment.svg') no-repeat;
  }
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: space-between;
    width: 596px;
    height: 40px;
  }
  &-wechatpay {
    width: 110px;
    height: 28px;
    margin-right: 16px;
  }
  &-alipay {
    width: 92px;
    height: 28px;
    margin-right: 16px;
  }
  &-grabpay {
    width: 84px;
    height: 28px;
    margin-right: 16px;
  }
}

.bc-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 650px;
  height: 40px;
  margin: 0 auto 12px;
  &-icon {
    width: 30px;
    height: 28px;
    margin-right: 12px;
    background: url('../../static/images/tag.svg') no-repeat;
  }
  &-content {
    display: flex;
    align-items: center;
    width: 596px;
    height: 40px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.96px;
    color: #535360;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.bc-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 642px;
  height: 40px;
  margin: 0 auto 12px;
  &-icon {
    width: 26px;
    height: 28px;
    margin-right: 12px;
    background: url('../../static/images/brand-card-local.svg') no-repeat;
  }
  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 596px;
    height: 40px;
    .mall-locale {
      display: flex;
      align-items: center;
      width: 336px;
      height: 40px;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.96px;
      color: #ababb8;
    }
    .unit-locale {
      display: flex;
      align-items: center;
      width: 250px;
      height: 40px;
      .bc-unit-icon {
        width: 26px;
        height: 28px;
        margin-right: 12px;
        background: url('../../static/images/brand-card-unit.svg') no-repeat;
      }
      .unit-number {
        max-width: 212px;
        height: 40px;
        @include ddd;
        line-height: 40px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.96px;
        color: #535360;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
