@import '../../static/css/mixin';
.mall-index {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #ffffff;
}
.status-bar {
  z-index: 999;
  width: 100%;
  background-image: linear-gradient(to right, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 88px;
  border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
  background-image: linear-gradient(to right, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.nav-bar-title {
  font-weight: 500;
  font-size: 34px;
  color: #ffffff;
}
.nav-bar-toggle {
  position: absolute;
  left: 20px;
  bottom: 13px;
  @include wh(218px, 64px);
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.22);
  border: 1px #7f99ff solid;
  @include fcc;
  color: #ffffff;
  font-family: 'TXZH';
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4px;
  .mp-picker-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
  }
  .mpick-icon {
    @include wh(32px, 32px);
    background: url('../../static/images/mall-pick.svg') no-repeat;
  }
}
.mall-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: calc(128px + env(safe-area-inset-bottom));
  background-color: #f7f7f9;
}
.mall-sv.no-tab {
  padding-bottom: env(safe-area-inset-bottom);
}
.oval-mask {
  position: relative;
  top: 0;
  width: 100%;
  height: 382px;
  z-index: 900;
  .nearest-wrap {
    position: absolute;
    left: 32px;
    top: 18px;
    width: 258px;
    height: 58px;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .nearest-icon {
      width: 32px;
      height: 32px;
      margin-right: 20px;
      background: url('../../static/images/location-arrow-fff.svg') no-repeat;
    }
  }
}
.mall-cover-view {
  position: absolute;
  top: 128px;
  width: 100%;
  height: 100%;
  z-index: 910;
}
