.el-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  &-line {
    width: 288px;
    height: 2px;
    background-color: #eaeaee;
  }
  &-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #bfbfcb;
    margin: 0 26px;
  }
}
