@import '../../static/css/mixin';
.account-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f8;
}
.ap-head {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 898px;
  &-bg {
    width: 100%;
    height: 898px;
  }
  &-nav {
    position: absolute;
    //top: 108px;
    //@include wh(238px, 48px);
    @include fcc;
    width: fit-content;
    height: 88px;
    font-weight: 500;
    font-size: 34px;
    color: rgba(255, 255, 255, 0.8);
  }
  &-avatar-wrap {
    position: absolute;
    top: 432px;
    @include fcc;
    @include wh(120px, 120px);
    border-radius: 50%;
    border: 2px #ababb8 solid;
    background-color: #ffffff;
    .ap-avatar {
      @include wh(108px, 108px);
      border-radius: 50%;
    }
  }
  &-username {
    position: absolute;
    top: 572px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 52px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.444;
    color: #ffffff;
  }
}
.ap-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 774px;
  width: 694px;
  height: fit-content;
  //@include wh(694px, 256px);
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  &-loved {
    display: flex;
    align-items: center;
    @include wh(620px, 54px);
    margin: 44px auto 66px;
    font-weight: 400;
    font-size: 36px;
    color: #53535e;
  }
  &-vouchers {
    display: flex;
    align-items: center;
    @include wh(620px, 54px);
    margin: 0 auto 22px;
    font-weight: 400;
    font-size: 36px;
    color: #53535e;
  }
  &-qa {
    display: flex;
    align-items: center;
    @include wh(620px, 54px);
    margin: 44px auto 44px;
    font-weight: 400;
    font-size: 36px;
    color: #53535e;
  }
  &-feedback {
    display: flex;
    align-items: center;
    @include wh(620px, 54px);
    margin: 0 auto 40px;
    font-weight: 400;
    font-size: 36px;
    color: #53535e;
    padding: 0;
    background-color: #ffffff;
  }
  &-feedback:after {
    border: 0;
  }
  &-head-icon {
    @include wh(52px, 52px);
    margin-right: 32px;
  }
  &-tail-icon {
    @include wh(16px, 30px);
    margin-left: auto;
  }
}
.ap-login {
  @include wh(380px, 92px);
  @include fcc;
  margin: 160px auto 0;
  border-radius: 46px;
  background-image: linear-gradient(140deg, #8ba8fb 0%, #6b8ef7 100%);
  font-size: 36px;
  letter-spacing: 4px;
  color: #ffffff;
}
.ap-popup {
  @include wh(668px, 570px);
}
.ap-close {
  @include wh(100px, 100px);
}
.ap-footer {
  position: fixed;
  bottom: calc(140px + env(safe-area-inset-bottom));
  @include wh(423px, 48px);
}
