@import '../../static/css/mixin';
.event-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #f6f6f8;
  &-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 900;
    background-image: linear-gradient(90deg, #2e58ff 0%, #4a3ed1 100%), linear-gradient(105deg, #2e58ff 0%, #4a3ed1 100%);
    @include fcc;
    .ep-status-bar {
      width: 100%;
    }
    .ep-nav-bar {
      width: 100%;
      height: 88px;
      @include fcc;
      font-weight: 500;
      font-size: 34px;
      color: #ffffff;
    }
  }
}

.navigate-back {
  position: fixed;
  width: 80px;
  height: 88px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 910;
  .icon-back {
    width: 60px;
    height: 64px;
    margin-left: 18px;
    background: url('../../static/images/chevron-back.svg') no-repeat;
  }
  .icon-home {
    @include wh(44px, 44px);
    margin-left: 28px;
    background: url('../../static/images/back2-home.svg') no-repeat;
  }
}

.event-page-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: env(safe-area-inset-bottom);
}
.event-page-bg {
  width: 100%;
  height: 624px;
}
.func-panel.sticky {
  position: sticky;
  top: 176px;
  z-index: 1;
}
.func-panel {
  position: relative;
  width: 100%;
  height: 354px;
  background-color: #ffffff;
  &-title {
    position: absolute;
    top: 2px;
    left: 28px;
    width: 560px;
    height: 176px;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    color: #53535e;
    display: flex;
    align-items: center;
  }
  &-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 54px;
    right: 46px;
    width: 64px;
    height: 90px;
    font-size: 22px;
    color: #5e5e69;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.727;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    .ep-share {
      @include wh(34px, 46px);
      margin-bottom: 4px;
      background: url('../../static/images/eventpage-share.svg') no-repeat;
    }
  }
  &-share:after {
    border: 0;
  }
  &-timeline {
    position: absolute;
    top: 176px;
    left: 26px;
    width: 696px;
    height: 88px;
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #737384;
    letter-spacing: 2px;
    line-height: 38px;
    border-top: rgba(234, 234, 238, 0.34) 2px solid;
    border-bottom: rgba(234, 234, 238, 0.34) 2px solid;
    .fptl-icon {
      @include wh(32px, 32px);
      margin-right: 6px;
      background: url('../../static/images/eventpage-date.svg') no-repeat;
    }
  }
  &-tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 78px;
    border-bottom: #ebebef 2px solid;
    display: flex;
    flex-direction: row;
    .tab-s {
      width: 240px;
      height: 78px;
      @include fcc;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 38px;
      color: #5e5e69;
    }
    .tab-m {
      width: 270px;
      height: 78px;
      @include fcc;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 38px;
      color: #5e5e69;
    }
    .tab-icon-s {
      @include wh(30px, 30px);
      margin-right: 10px;
    }
    .tab-icon-m {
      @include wh(32px, 32px);
      margin-right: 10px;
    }
    .tab-active {
      font-weight: 600;
      color: #4b54c7;
      border-bottom: #4b54c7 2px solid;
    }
  }
}
.event-instruction {
  padding: 43px 30px 0;
  color: #53535e;
}

.event-malls {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 56px;
}

.event-roles {
  padding: 42px 30px 0;
  //font-size: 30px;
  //font-weight: 400;
  //line-height: 56px;
  color: #53535e;
}
