.ec-wrap {
  position: relative;
  width: 700px;
  height: 244px;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  background-color: #ffffff;
}
.ec-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.ec-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 292px;
  height: 100%;
  border-radius: 26px 0 0 26px;
  background-color: #fdfdfd;
}

.ec-right-divider {
  position: absolute;
  width: 368px;
  height: 2px;
  top: 148px;
  right: 22px;
  background-color: #eaeaee;
}
.ec-title {
  display: flex;
  align-items: center;
  position: absolute;
  width: 368px;
  height: 112px;
  top: 20px;
  right: 22px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #53535e;
}
.ec-valid-period {
  position: absolute;
  right: 26px;
  top: 160px;
  display: flex;
  align-items: center;
  width: 368px;
  height: 38px;
  font-size: 22px;
  letter-spacing: 0.6px;
  line-height: 1.727;
  color: #737384;
  .ec-time-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background: url('../../static/images/eventcard-date.svg') no-repeat;
  }
}
.ec-location {
  position: absolute;
  right: 26px;
  top: 198px;
  display: flex;
  align-items: center;
  width: 368px;
  height: 38px;
  font-size: 22px;
  letter-spacing: 0.6px;
  line-height: 1.727;
  color: #737384;
  .ec-locale-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background: url('../../static/images/eventcard-locale.svg') no-repeat;
  }
}
