.ecl-wrap {
  position: relative;
  width: 700px;
  height: 244px;
  border-radius: 26px;
  box-shadow: 0 0 24px 0 rgba(83, 83, 96, 0.15);
  background-color: #ffffff;
}
.ecl-wrap:active {
  transform: scale(1.05);
  transition: 500ms;
}
.ecl-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 292px;
  height: 100%;
  border-radius: 26px 0 0 26px;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ecl-left-logo {
  width: 160px;
  height: 74px;
}
.ecl-right-divider {
  position: absolute;
  width: 368px;
  height: 2px;
  top: 148px;
  right: 22px;
  background-color: #eaeaee;
}
.ecl-right-sketch {
  position: absolute;
  height: 28px;
  background-image: linear-gradient(to left, #ffffff 0%, #f4f4f4 100%);
}
.c {
  width: 350px;
  top: 40px;
  right: 22px;
}
.a {
  width: 268px;
  right: 104px;
  top: 92px;
}
.b {
  width: 324px;
  right: 48px;
  bottom: 32px;
}
