@import '../../static/css/mixin';
.dc-wrap {
  position: relative;
  width: 100%;
  height: 204px;
  border: 2px solid #eaeaee;
  background-color: #ffffff;
  &-title {
    @include abs(18px, 220px);
    @include wh(494px, 38px);
    @include ddd;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 1.86px;
    line-height: 1.462;
    color: #737384;
  }
  &-desc {
    display: flex;
    align-items: center;
    @include abs(56px, 220px);
    @include wh(494px, 98px);
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.333;
    color: #53535e;
  }
  &-image {
    @include abs(16px, 20px);
    @include wh(172px, 172px);
    border-radius: 20px;
    border: 2px #ababb8 solid;
  }
  &-tag {
    @include fcc;
    @include abs(158px, 612px);
    @include wh(112px, 30px);
    border-radius: 14px 0 14px 0;
    background-color: #c8b8a1;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 1.111;
    color: #5f3f13;
  }
}
