.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 128px;
    background: white;
    display: flex;
    padding-bottom: env(safe-area-inset-bottom);
    border-radius: 44px 44px 0 0;
    box-shadow: 0 0 26px 0 rgba(118, 112, 138, 0.28);
}

.tab-bar-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    border-radius: 44px 44px 0 0;
}

.tab-bar-item {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover-image {
    width: 72px;
    height: 72px;
}

.cover-view {
    font-family: 'MF';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2.2px;
    margin-top: 4px;
}
