@import '../../static/css/mixin';
.promotion-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #f6f6f8;
  &-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 900;
    background-color: #15c454;
    @include fcc;
    .ep-status-bar {
      width: 100%;
    }
    .ep-nav-bar {
      width: 100%;
      height: 88px;
      @include fcc;
      font-weight: 500;
      font-size: 34px;
      color: #ffffff;
    }
  }
}

.navigate-back {
  position: fixed;
  width: 80px;
  height: 88px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 910;
  .icon-back {
    width: 60px;
    height: 64px;
    margin-left: 18px;
    background: url('../../static/images/chevron-back.svg') no-repeat;
  }
  .icon-home {
    @include wh(44px, 44px);
    margin-left: 28px;
    background: url('../../static/images/back2-home.svg') no-repeat;
  }
}

.promotion-page-sv {
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.promotion-page-bg {
  width: 100%;
  height: 248px;
  //margin-top: 176px;
}
.func-panel.sticky {
  position: sticky;
  //top: 176px;
  z-index: 1;
}
.func-panel {
  position: relative;
  width: 100%;
  height: 354px;
  background-color: #ffffff;
  &-title {
    position: absolute;
    top: 2px;
    left: 28px;
    width: 560px;
    height: 176px;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    color: #53535e;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
  }
  &-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 54px;
    right: 46px;
    width: 64px;
    height: 90px;
    font-size: 22px;
    color: #5e5e69;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.727;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    .ep-share {
      @include wh(34px, 46px);
      margin-bottom: 4px;
      background: url('../../static/images/eventpage-share.svg') no-repeat;
    }
  }
  &-share:after {
    border: 0;
  }
  &-timeline {
    position: absolute;
    top: 176px;
    left: 26px;
    width: 696px;
    height: 88px;
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #737384;
    letter-spacing: 2px;
    line-height: 38px;
    border-top: rgba(234, 234, 238, 0.34) 2px solid;
    border-bottom: rgba(234, 234, 238, 0.34) 2px solid;
    .fptl-icon {
      @include wh(32px, 32px);
      margin-right: 6px;
      background: url('../../static/images/eventpage-date.svg') no-repeat;
    }
  }
  &-tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 78px;
    border-bottom: #ebebef 2px solid;
    display: flex;
    flex-direction: row;
    .tab-s {
      width: 240px;
      height: 78px;
      @include fcc;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 38px;
      color: #5e5e69;
    }
    .tab-m {
      width: 270px;
      height: 78px;
      @include fcc;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.8px;
      line-height: 38px;
      color: #5e5e69;
    }
    .tab-icon-s {
      @include wh(30px, 30px);
      margin-right: 10px;
    }
    .tab-icon-m {
      @include wh(32px, 32px);
      margin-right: 10px;
    }
    .tab-active {
      font-weight: 600;
      color: #2ca556;
      border-bottom: #2ca556 2px solid;
    }
  }
}
.promotion-brands {
  //padding: 43px 30px 0;
}
.pb-header {
  height: 52px;
  margin: 0 0 19px 34px;
  font-weight: 500;
  font-size: 32px;
  color: #53535e;
  line-height: 1.563;
}

.pb-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  background-color: #ffffff;
  margin-top: 25px;
  &-title {
    width: fit-content;
    height: 52px;
    margin-top: 22px;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 4px;
    line-height: 1.563;
    color: #53535e;
  }
  &-content {
    display: flex;
    align-items: center;
    width: 650px;
    min-height: 972px;
    margin-bottom: 52px;
    white-space: pre-wrap;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.929;
    color: #53535e;
  }
}

.promotion-malls {
}

.promotion-roles {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: #ffffff;
  &-content {
    //@include wh(672px, 808px);
    width: 672px;
    flex-direction: column;
    .role-title {
      font-size: 36px;
      font-weight: 500;
      color: #5e5e69;
    }
    .role-p {
      margin: 1em 0 2em 0;
      font-size: 32px;
      font-weight: 400;
      color: #5e5e69;
    }
  }
}

.mid-banner {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}
