@import '../../static/css/mixin';
.explore-index {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #ffffff;
}
.status-bar {
  z-index: 999;
  width: 100%;
  background-image: linear-gradient(to right, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 88px;
  border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
  background-image: linear-gradient(to right, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.nav-bar-title {
  font-weight: 500;
  font-size: 34px;
  color: #ffffff;
}
.iphone-x {
  position: absolute;
  bottom: 20px;
}
.explore-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: calc(128px + constant(safe-area-inset-bottom)); /*兼容 IOS<11.2*/
  padding-bottom: calc(128px + env(safe-area-inset-bottom));
}
.explore-sv.non-tab {
  padding-bottom: env(safe-area-inset-bottom);
}
.oval-mask {
  position: relative;
  top: 0;
  width: 100%;
  height: 382px;
  z-index: 900;
}
.search-bar {
  position: absolute;
  left: 56px;
  top: 28px;
  width: 636px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px rgba(0, 0, 0, 0.06) solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sb-icon {
  width: 42px;
  height: 42px;
  margin: 0 24px 0 28px;
  background: url('../../static/images/search-gb.svg') no-repeat;
}
.sb-placeholder {
  width: 520px;
  height: 44px;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 2px;
  color: rgba(83, 83, 94, 0.23);
}
.explore-nearby {
  position: relative;
  width: 246px;
  height: 322px;
  margin-top: 94px;
  z-index: 900;
}
.explore-icon {
  position: absolute;
  top: 138px;
  left: 24px;
  width: 30px;
  height: 30px;
  background: url('../../static/images/location-arrow-solid.svg') no-repeat;
}
.explore-txt {
  position: absolute;
  top: 136px;
  left: 64px;
  color: #384ef9;
  font-family: 'TX';
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 6px;
}

.cover-view {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 100%;
  z-index: 910;
}
.sp {
  height: 452px;
  margin-bottom: 84px;
}
.demo-sp-1 {
  height: 428px;
  width: 100%;
}

.demo-sp-item {
  width: 512px;
  height: 428px;
  border-radius: 18px;
  margin: 0 auto;
  transform: scale(0.9);
  transition: 500ms;
}
.selected {
  transform: scale(1);
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.orange {
  background: orange;
}
.ep-loading {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.dismiss {
  display: none !important;
}
.event-wechatpay {
  width: 100%;
  height: 392px;
  margin-bottom: 100px;
}
.bsp {
  height: 320px;
  white-space: nowrap;
  margin-bottom: 100px;
}
.bsp-image {
  width: 320px;
  height: 320px;
}
