@import '../../static/css/mixin';
.search-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #f7f7f9;
}
.sp-status-bar {
  width: 100%;
  background-image: linear-gradient(90deg, #2e58ff 0%, #4a3ed1 100%), linear-gradient(106deg, #2e58ff 0%, #4a3ed1 100%);
}
.sp-navbar {
  position: relative;
  top: 0;
  width: 100%;
  height: 88px;
  background-image: linear-gradient(90deg, #2e58ff 0%, #4a3ed1 100%), linear-gradient(105deg, #2e58ff 0%, #4a3ed1 100%);
  @include fcc;
  &-navback {
    display: flex;
    align-items: center;
    @include abs(0, 0);
    @include wh(80px, 88px);
    .sp-ion-back {
      @include wh(60px, 64px);
      margin-left: 18px;
      background: url('../../static/images/chevron-back.svg') no-repeat;
    }
  }
  &-title {
    width: fit-content;
    height: 48px;
    font-weight: 500;
    font-size: 34px;
    color: #ffffff;
  }
}
.sp-searchbar {
  display: flex;
  align-items: center;
  @include wh(636px, 70px);
  border-radius: 10px;
  border: 2px rgba(0, 0, 0, 0.12) solid;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  margin: 28px auto 0;
  &-icon {
    @include wh(42px, 42px);
    margin: 0 24px 0 28px;
    background: url('../../static/images/search-gb.svg') no-repeat;
  }
  &-ph {
    @include wh(520px, 44px);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
    color: rgba(83, 83, 94, 0.23);
  }
}

.sp-head-focus {
  display: flex;
  @include wh(636px, 70px);
  margin: 28px auto 0;
  &-sb {
    display: flex;
    align-items: center;
    @include wh(526px, 70px);
    border-radius: 10px;
    border: 2px rgba(0, 0, 0, 0.12) solid;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    .sbf-icon {
      @include wh(42px, 42px);
      margin: 0 20px 0 22px;
      background: url('../../static/images/search-gb.svg') no-repeat;
    }
    .sbf-input {
      @include wh(420px, 44px);
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 2px;
      color: #53535e;
    }
    .sbf-ph {
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 2px;
      color: rgba(83, 83, 94, 0.23);
    }
  }
  &-cancel {
    @include fcc;
    width: 110px;
    height: 100%;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
    color: #53535e;
  }
}
.miss {
  display: none;
}
.sp-sv {
  flex: 1;
  width: 100%;
  height: 100px;
  padding-bottom: env(safe-area-inset-bottom);
  margin-top: 40px;
}
.sp-empty-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  &-no-results {
    margin: 158px auto 28px;
    width: auto;
    height: 52px;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 1px;
    color: #4a4a4a;
  }
  &-sorry {
    margin: 0 auto 71px;
    width: auto;
    height: 42px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.64px;
    color: #4a4a4a;
  }
  &-image {
    width: 528px;
    height: 475px;
    margin: 0 auto;
  }
}

.sp-loading {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.dismiss {
  display: none !important;
}
